body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: monospace, Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
}

form {
    display: grid;
    gap: 15px;
}

label {
    color: white;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-family: monospace, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    font-size: 1.2rem;
    color: #333;
    color: white;
    font-family: monospace, Arial, Helvetica, sans-serif;
}
